<div class="fixed top-0 grid grid-cols-5 bg-white pb-2">
    <app-nav class="col-span-1"></app-nav>
    <div class="col-span-4 flex items-stretch justify-end">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-black self-end m-3 mr-4">Dashboard</h5>
    </div>
</div>
<div class="mobile-container block sm:hidden p-2">
    <div class="settings-container p-4">
        <form [formGroup]="settingsForm">
            <!-- Bottle 1 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 1</h5>
                <label for="drinkSelect1" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle1Id" id="drinkSelect1"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 2 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 2</h5>
                <label for="drinkSelect2" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle2Id" id="drinkSelect2"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 3 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 3</h5>
                <label for="drinkSelect3" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle3Id" id="drinkSelect3"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 4 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 4</h5>
                <label for="drinkSelect4" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle4Id" id="drinkSelect4"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 5 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 5</h5>
                <label for="drinkSelect5" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle5Id" id="drinkSelect5"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 6 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                <h5 class="text-xl font-bold mb-4">Bottle 6</h5>
                <label for="drinkSelect6" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle6Id" id="drinkSelect6"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Save Button -->
            <div class="fixed bottom-0 left-0 w-full p-4 shadow-lg flex justify-end">
                <button type="button" (click)="saveSettings()"
                    class="bg-primary text-white font-bold py-3 px-6 rounded-lg flex justify-end focus:outline-none transition">
                    Save Settings
                </button>
            </div>
        </form>
    </div>
</div>
<div class="desktop-container hidden sm:block ml-64 p-2 mt -2">
    <div class="settings-container p-4">
        <form [formGroup]="settingsForm" class=" gap-4 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3">
            <!-- Bottle 1 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 1</h5>
                <label for="drinkSelect1" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle1Id" id="drinkSelect1"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 2 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 2</h5>
                <label for="drinkSelect2" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle2Id" id="drinkSelect2"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 3 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 3</h5>
                <label for="drinkSelect3" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle3Id" id="drinkSelect3"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 4 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 4</h5>
                <label for="drinkSelect4" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle4Id" id="drinkSelect4"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 5 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 5</h5>
                <label for="drinkSelect5" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle5Id" id="drinkSelect5"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Bottle 6 -->
            <div class="bg-white p-4 rounded-lg shadow-lg mb-4 col-span-1">
                <h5 class="text-xl font-bold mb-4">Bottle 6</h5>
                <label for="drinkSelect6" class="block text-md font-semibold text-gray-600 mb-2">Select Drink</label>
                <select formControlName="bottle6Id" id="drinkSelect6"
                    class="block w-full px-4 py-2 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary mb-4">
                    <option value="" disabled>Select a drink</option>
                    <option *ngFor="let drink of config_drinks" [value]="drink.id">{{ drink.name }}</option>
                </select>
            </div>

            <!-- Save Button -->
            <div class="fixed bottom-0 left-0 w-full p-4 shadow-lg flex justify-end">
                <button type="button" (click)="saveSettings()"
                    class="bg-primary text-white font-bold py-3 px-6 rounded-lg flex justify-end focus:outline-none transition">
                    Save Settings
                </button>
            </div>
        </form>
    </div>
</div>